@import 'var';

body {
    font-family: 'Poppins', sans-serif;
    background: $bgColor;
}

.mb-18 {
    margin-bottom: 18px;
}

.logoLink {
    font-size: 20px;
    text-decoration: none;
    color: $primTxt;
    font-weight: 700;
}

.headerSec {
    position: relative;
    z-index: 2;
    width: auto;
    padding: 10px 15px;
}

.menuNav {
    display: block;
    width: 24px;
    padding: 0px;
    border: none;
    background: none;

    &.active {
        span {
            &:nth-child(1) {
                transform: translateY(7px) rotate(40deg) scale(1.1);
                width: 100%;
            }

            &:nth-child(2) {
                transform: translateY(0) rotate(-40deg) scale(1.1);
                width: 100%;
            }

            &:nth-child(3) {
                opacity: 0;
            }
        }
    }

    span {
        display: block;
        height: 3px;
        width: 100%;
        margin-top: 4px;
        background: #fff;
        transition: transform 0.5s;

        &:nth-child(1) {
            width: 70%;
            margin-top: 2px;
        }

        &:nth-child(3) {
            width: 80%;
        }
    }
}

.logoImg {
    width: 150px;
}

.text-right {
    text-align: right;
}

.slideMenu {
    position: absolute;
    height: calc(100vh - 58px);
    background: $MenuBg;
    width: 100%;
    left: -100vw;
    top: 58px;
    transition: ease 0.5s;

    &.active {
        left: 0vw;
    }
}

.slideUl {
    list-style: none;
    padding-top: 50px;
    padding-right: 28px;

    .slideli {
        margin-bottom: 20px;

        .menuItem {
            text-decoration: none;
            font-size: calc(12px + 4*(100vw - 320px)/ 1440);
            color: $txtPrim;

            &:hover {
                color: $black;
            }
        }
    }
}

.slideMenuInner {
    width: 100%;
    background: #ffffff;
    max-width: 400px;
}

.p2014 {
    padding: 20px 14px;
}

.bestFriendCard {
    margin-top: 20px;
    background: $cardBg;
    @extend .p2014;
    border-radius: 8px;

    .bestCardH {
        color: $txtPrim;
        font-size: 32px;
        text-align: center;
    }
}

.custom-ad {
    max-width: 300px;
    height: 250px;
    margin: 0 auto;

    .custom-ad-link {
        text-decoration: none;

        img {
            width: 100%;
            height: 100%;
        }
    }
}


.loader-center {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: $loaderBg;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relative {
    position: relative;
}

.main-content-sec {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: $cardBg;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.main-sec {
    padding: 18px;
}

.mb-6 {
    margin-bottom: 60px;
}

.p-relative {
    position: relative;
}

.errorMsg {
    position: absolute;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: $errorMsg;
}

.primary-btn {
    width: 100%;
    margin: 0 auto;
    background: $primBg !important;
    color: $white !important;
    font-size: $font20;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius38;
    font-weight: bold;
    text-shadow: 0px 4px 2px #1b1b1b33;
}

.heading {
    font-weight: bold;
    font-size: $font32;
    line-height: $lheight36;
    color: $txtPrim;
    text-align: center;
    margin: 0px;
}

.subheading {
    font-size: $font20;
    line-height: $lheight25;
    margin: 0px;
    font-weight: bold;
    color: $primTxt;
}

.text-p {
    font-size: $font16;
    line-height: $lheight18;
    margin: 0px;
    font-weight: 500;
    color: $primTxt;
}

.enterImg {
    position: absolute;
    top: 18px;
    left: 21px;
    width: 20px;
    height: 20px;
}

.inputForm {
    margin: 0 auto;
    font-size: $font16;
    height: 56px;
    line-height: $lheight30;
    border: 2px solid $primBg;
    background: $white;
    box-sizing: border-box;
    border-radius: $radius20;
    padding: 16px 16px 16px 47px;

    &:focus {
        box-shadow: none;
        border-color: $primBg;
    }
}

.home-content {
    position: relative;
    box-sizing: border-box;
    border-radius: $radius10;
}

.mb-25 {
    margin-bottom: 25px;
}

.list-style {
    padding-left: 20px;

    li {
        line-height: 24px;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-sec {
    padding: 16px;
    color: $black;
    background: $footerBg;

    .footer-text {
        margin: 0px;
        font-size: 12px;
        color: $primTxt;
    }

    .footer-links {
        @extend .flex-center;
        gap: 24px;
        margin-bottom: 18px;

        .footer-link {
            color: $primTxt;
            font-size: 12px;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .footer-copyright {
        font-size: 10px;
        margin-top: 12px;
        color: $primTxt;
    }


    .social-icon {
        max-width: 40px;
        width: 100%;
        height: 40px;
        background: $white;
        border-radius: $radius50;
        @extend .flex-center;
    }

    .social-media {
        @extend .flex-center;
        gap: 10px;
    }

}

// question page 
.question-btn {
    @extend .flex-center;
    gap: 5px;
    margin-bottom: 74px;

    &>span {
        @extend .flex-center;
        height: 32px;
        border-radius: 5px;
        font-size: $font20;
        border: 2px solid $primBg;
        background: none;
        color: $primTxt;
        width: 100%;
        max-width: 30px;

        &.active {
            background: $primBg;
            color: $white;
        }
    }
}

.question-content {
    padding: $ptb18 0px;
}

.question-sec {
    position: relative;
    margin-top: 20px;

    .skip-btn {
        max-width: 160px;
        width: 100%;
        height: 40px;
        border: 2px solid $primBg;
        border-radius: $radius10;
        margin-top: 25px !important;
        font-size: $font20;
        font-weight: 500;
        color: $primTxt;
    }
}

.question {
    font-size: $font22;
    font-weight: 700;
    color: $primColor;
    line-height: $lheight30;
    margin-bottom: 15px;
}

.SingleCard {
    padding: 8px;
    background: $ansBg;
    font-size: $font16;
    text-align: center;
    @extend .flex-center;
    border-radius: $radius10;
    cursor: pointer;

    &.active {
        color: $white;
        font-weight: bold;

        .cardTxtType {
            background: $primBg;
            color: $white;
            font-weight: bold;

            .userTypeImg {
                position: absolute;
                right: 8px;
                width: 33px;
                height: 33px;
                display: block;
                top: 7px;
            }

        }
    }
}

.single-line-ans {
    @extend .flex-center;
    flex-direction: column;
    align-items: unset;
    gap: 15px;
    margin-top: 20px;
}

.GridCard {
    max-width: calc(50% - 16px);
    background: $ansBg;
    border-radius: $radius18;
    padding: 5px;
    cursor: pointer;
    position: relative;
    width: 100%;

    .userSelectedM {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        align-items: center;
        justify-content: center;
        background: rgba(78, 123, 175, 0.7);
        border-radius: 18px;
        display: none;
    }

    &.active {
        .userSelectedM {
            display: flex;

            .userMediaSideImg {
                display: inline-block;
            }
        }

    }

    .GridImg {
        width: 100%;
    }

}

.answerImg {
    width: 100%;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
    border-radius: 6px;
    position: relative;
    height: 179px;
    object-fit: cover;
}

.mediaImg {
    padding: 8px;
    background: $white;
    border-radius: 14px;
}

.AnsW {
    background: #e3342f;

    .CardTxt {
        font-weight: bold;
        color: $white;
        font-size: $font20
    }
}

.grid-line-ans {
    @extend .flex-center;
    flex-wrap: wrap;
    gap: 16px;
    align-items: unset;
    margin-top: 20px;
}

.CardTxt {
    margin: 0px;
    padding: 9px 0px;
    font-size: $font20;
    color: $primTxt;
    font-weight: 400;

    &.cardTxtType {
        width: 100%;
        background: #fff;
        border-radius: 10px;
        position: relative;

        .userTypeImg {
            display: none;
        }
    }

}

.share-content {
    margin-top: 30px
}

.shareCom {
    @extend .p2014;
    position: relative;
}

.shareTitle {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: $primTxt;
}

.copyInput {
    padding: 5px;
    color: $primTxt;
    border-radius: $radius10;
    height: 45px;
    line-height: 32px;
    background: $white;
    border: 1px solid #BBBBBB;
    width: 100%;
    text-align: center;
    resize: none;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 400;
}

.max-196 {
    max-width: 196px;
}

.max-438 {
    max-width: 438px;
}

.shareBtn {
    @extend .flex-center;
    border-radius: 43px;
    width: calc(50% - 5px);
    padding: 0px 3px;
    height: 44px;

    &:nth-child(1) {
        width: 100%;
    }

    .ShareTxt {
        font-size: 20px;
        color: $white;
        font-weight: 400;
        margin-left: 5px;
        display: inline-block;
    }

    .shareLink {
        text-decoration: none;

        img {
            margin-right: 8px;
        }
    }
}

.shareGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 12px;
}

.whatsapp {
    background: #0B8F21 !important;
    border: none;
}

.fb {
    background: #1E4FAD !important;
}

.snap {
    background: #FEFB01 !important;

    .ShareTxt {
        color: #3a3a3a;
    }
}

.messanger {
    background: #0084FF !important;
}

.twitter {
    background: #1BA5D4 !important;
    border: none;
}

.insta {
    background: linear-gradient(270deg, #FEE455 0%, #FEE454 0.01%, #F6423C 27.08%, #C2248F 61.98%, #1E4FAD 85.42%);

    &:hover {
        background: linear-gradient(270deg, #FEE455 0%, #FEE454 0.01%, #F6423C 27.08%, #C2248F 61.98%, #1E4FAD 85.42%);
    }

}

.line {
    background: #22BA4F !important;
}

.talk {
    background: #FFE812 !important;

    .ShareTxt {
        color: #3a3a3a;
    }
}

.vk {
    background: #5181B8 !important;
}

.scoreItem {
    padding: 4px 25px 6px 25px;
    background: $white;
    border-radius: $radius14;

    .scorerName {
        text-align: initial;

        .scorerLink {
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
            color: $primTxt;
            line-height: $lheight25;
        }
    }

    .scoreCount {
        font-size: 16px;
        font-weight: 700;
    }
}

.scoreStep {
    width: 14px;
    height: 7px;
    border-radius: 3px;
    border: 1px solid $primBg;
    display: inline-block;

    &.active {
        background: $primBg;
    }
}

.scoreStepSec {
    display: flex;
    gap: 3px;
}

.scoreCounter {
    @extend .flex-center;
    justify-content: space-between;
}

.scoreBoard {
    position: relative;

    .scoreCard {
        padding: 20px 5px;
        background: $ansBg;
        border-radius: $radius14;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .scoreErrorCard {
            background: $white;
            padding: 10px 20px;
            border-radius: $radius14;
            height: 87px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.scoreTitle {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    color: $primTxt;
}

.AnsR {
    &.active {
        background: #38c172;
        color: $white;
        font-weight: bold;
    }

}

.complate-card {
    @extend .p2014;
    background: $cardBg;
    border-radius: $radius10;
}

.scoreImg {
    width: 20px;
    margin-right: 10px;
}

.max-350 {
    max-width: 350px;
}

.viewAnsCard {
    @extend .p2014;
    background: $cardBg;
    border-radius: $radius10;
    position: relative;

    .subheading {
        font-size: 22px;
    }
}

.viewansCount {
    position: absolute;
    width: 26px;
    height: 26px;
    background: $BtnColor;
    color: $white;
    font-weight: bold;
    left: calc(50% - 13px);
    top: -13px;
    @extend .flex-center;
    border-radius: $radius50;
}

.viewAnsCard {
    .GridTxt {
        text-align: center;
        padding: 8px;
    }

    .GridCard {
        margin: 0 auto;
        background: #e74848;

        &.active {
            background: #379747;
        }
    }
}

.ansCardSec {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .SingleCard {
        background: #e74848;
        text-align: center;
        font-weight: bold;
        color: $white;

        &.active {
            background: #379747;
        }
    }
}


.Incorrect {
    .userSelectedM {
        display: flex;
        left: 0;
        background: rgba(198, 82, 89, 0.7);

        .mediaWrongAns {
            display: inline-block;
        }
    }

    .cardTxtType {
        background: #C65259;
        color: $white;

        .worngAns {
            display: inline-block;
        }
    }
}

.correctAns {
    .userSelectedM {
        display: flex;
        left: 0;
        background: rgba(108, 195, 100, 0.7);

        .mediaRightAns {
            display: inline-block;
        }
    }

    .cardTxtType {
        background: #6CC364;
        color: $white;

        .rightAns {
            display: inline-block;
        }
    }
}

.imgPosition {
    position: absolute;
    right: 8px;
    width: 33px;
    height: 33px;
    top: 7px;
}

.userMediaSideImg,
.worngAns,
.rightAns,
.mediaWrongAns,
.mediaRightAns {
    display: none;
}

.loaderSec {
    width: 100%;
    height: 300px;
    @extend .flex-center;
}

.modal {
    padding-right: 0px !important;

    .modal-dialog {
        padding: 50px 16px;
        margin: 0 auto;
    }
}

.modal-header-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    .modal-h1 {
        font-size: 20px;
        font-weight: 500;
        color: $primTxt;
    }
}

.closeModal {
    width: 18px;
    cursor: pointer;
}

.modal-body-sec {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .lang-btn {
        width: 100%;
        height: 44px;
        border: 2px solid $primTxt;
        border-radius: $radius38;
        font-size: 14px;
        color: $primTxt;
        font-weight: 500;
        background: none;

        &.active {
            background: $primBg;
            color: $white;
            border: 2px solid $primBg;
            font-weight: 700;
        }
    }
}

.userdelModal {
    .modal-content {
        background: $ansBg;
    }

    .modal-header-sec {
        position: relative;

        .modal-h1 {
            font-size: 16px;
            font-weight: 400;
            width: calc(100% - 28px);
            text-align: center;
        }

        .closeModal {
            position: absolute;
            right: 0px;
        }
    }

    .modal-body-sec {
        padding: 0px 10px;
        justify-content: center;
    }

    .primary-btn {
        height: 39px;
        max-width: 127px;
        margin: 0px;
    }
}

.outlineBtn {
    outline: none;
    height: 39px;
    max-width: 127px;
    width: 100%;
    border: 1px solid #4E7BAF;
    background: #fff;
    border-radius: 97px;
    font-size: 20px;
    font-weight: 400;
}