$primColor : #144d50;
$bgColor : #f0f0f0;
$MenuBg : #f0f0f05c;
$txtPrim : #144d50;
$headerShadow : hsla(0, 0%, 0%, 0.251);
$black : #000000;
$white : #ffffff;
$cardBg : #eeebe3;
$loaderBg : #f0f0f0b3;
$BtnColor : #ef8451;
$skipBtn  :#c0c0c0;
$skipBg: #ffffff85;
$font16 : 16px;
$font20 : 20px;
$font22 : 22px;
$font32  : 32px;
$lheight36 : 36px;
$lheight25 : 25px;
$lheight16 : 16px;
$lheight15 : 15px;
$lheight18  : 18px;
$lheight30 : 30px;
$radius10 : 10px;
$radius50 : 50%;
