$primColor : #144d50;

$MenuBg : #f0f0f05c;
$txtPrim : #144d50;
$headerShadow : hsla(0, 0%, 0%, 0.251);
$black : #000000;
$white : #ffffff;
$cardBg : #eeebe3;
$loaderBg : #f0f0f0b3;
$BtnColor : #ef8451;
$skipBtn  :#c0c0c0;
$skipBg: #ffffff85;
$errorMsg : #C65259;

$ansBg : #E5F2FF;
$primTxt  :#484848;
$primBg : #4E7BAF;
$bgColor : #F9FCFF;
$footerBg : #F3F3F3;
$ptb18 : 18px;



$font16 : 16px;
$font20 : 20px;
$font22 : 22px;
$font32  : 32px;
$lheight36 : 36px;
$lheight25 : 25px;
$lheight16 : 16px;
$lheight15 : 15px;
$lheight18  : 18px;
$lheight30 : 30px;
$radius10 : 10px;
$radius18 : 18px;
$radius20 : 20px;
$radius38 : 38px;
$radius50 : 50%;
